<div class="container">
  <div class="col-xs-9">
    <form    #freeForm="ngForm" >
    	  <div class="row well">
            <div class="row">
               <div class="col-xs-4"><label for="adtitle" [translate]="'post.adtitle'"></label>
               </div>
                <div class="col-xs-8">
                 <div class="row">
                   <div class="col-md-4 col-md-push-4"></div>
                    <div class="col-md-8 col-md-pull-8">
                      <input type="text" [(ngModel)]="givrfree.adtitle" required class="form-control" id="adtitle" name="adtitle"/>
                    </div>
                 </div>
               </div>
               <hr />
             </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="Address" [translate]="'post.address'"></label>
            <input  type="text" class="form-control" [(ngModel)]="givrfree.address" id="Address" name="Address"/>
         </div>
         </div>

         <div class="col-sm-6">
          <div class="form-group">
           <label for="areacode" [translate]="'post.adarea'"></label>
              <select class="form-control" name="areacode" [(ngModel)]="givrfree.areacode">
              <option [ngValue]="null" [translate]="'post.oth'"></option>
              <option *ngFor="let area of areaList" [ngValue]="area.value">
               {{ area.name }}
              </option>
             </select>
            </div>
          </div>

         <div class="col-sm-12">
          <div class="form-group">
            <label for="comment" [translate]="'post.description'"></label>
            <textarea class="form-control" rows="5" [(ngModel)]="givrfree.descr" id="comment" name="addescreption" ></textarea>
          </div>
        </div>

        <div class="album text-muted">
          <div calss="container">
           <div class="fileinput fileinput-new" data-provides="fileinput">
             <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
             <div>
              <span class="btn btn-primary btn-file"><span class="fileinput-new" [translate]="'post.selectimg'"></span><span class="fileinput-exists" [translate]="'post.change'"></span><input type="file" name="file"
              (change)="uploadImageService.fileChangeEvent($event)"></span>
              <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput" name="file1" (click)="uploadImageService.removeImage($event)">Remove</a>
             </div>
          </div>

          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
            <div>
              <span class="btn btn-primary btn-file"><span class="fileinput-new" [translate]="'post.selectimg'"></span><span class="fileinput-exists" [translate]="'post.change'"></span><input type="file" name="file"
              (change)="uploadImageService.fileChangeEvent2($event)"></span>
              <a href="#" name="file2" class="btn btn-danger fileinput-exists" data-dismiss="fileinput" (click)="uploadImageService.removeImage($event)">Remove</a>
            </div>
          </div>
         </div>
          <br><br>
        </div>



        <div class="col-sm-6">
					<button (click)="onSubmit()"   [disabled]="freeForm.invalid" class="btn btn-primary"  type="submit" [translate]="'post.submit'"></button>
					<button  class="btn btn-danger"  routerLink="/" [translate]="'post.cancel'"></button>
        </div>


      </form>
  </div>

</div>
