<div class="container">


<div>
  	<form (ngSubmit)="onKeywordSearch()">

  <!--  search -->
  <div class="row equal searchdiv">

      <div class="col-sm-4">
          		  <label for="appart" class="title">App </label>
                <select class="form-control"  name="appadtitle"  [(ngModel)]="search.element1" >
                <option [ngValue]="null" >---- Other ----</option>
                <option *ngFor="let app of appList " [ngValue]="app.value">
                 {{ app.name }}
                </option>
               </select>
      </div>

      <div class="col-sm-4">
          	<div class="form-group">
          		 <label for="carmodel" class="title">Area</label>
               <select class="form-control" name="carmodel" [(ngModel)]="search.element2">
                <option [ngValue]="null" >---- Other ----</option>
                <option *ngFor="let area of areaList" [ngValue]="area.value">
                 {{ area.name }}
                </option>
               </select>
            </div>
      </div>

      <div class="col-sm-4 " align="right">
      	<div class="row">
      	    <div class="col-lg-1 col-centered">
            	 <label class="title"></label>
      			  	<button class="mat-primary " mat-raised-button type="submit">Search </button>
      			 </div>
      	</div>
      </div>

      <div class="col-sm-12" align="center">
        <p>
          <a class="btn btn-link" id="optionsec" data-toggle="collapse" href="#collapseAdSearch" aria-expanded="false" aria-controls="collapseAdSearch">
          <span class="glyphicon glyphicon-collapse-down"></span> + Options
          </a>
        </p>
      </div>

        <div class="collapse" id="collapseAdSearch">
              <div class="col-sm-2 col-form-label">
                <label class="title">Rent</label>
               </div>
               <div class="col-sm-5">
                <div class="form-group">
                   <label for="minPrice" class="title">Min:</label>
          	       <input type="text" class="form-control" [(ngModel)]="search.element3" id="minPrice" name="minPrice"/>
                 </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label class="title" for="MaxPrice">Max:</label>
            	      <input  type="text" class="form-control" [(ngModel)]="search.element4" id="MaxPrice" name="MaxPrice"/>
                 </div>
                </div>
            <br>
        </div>

  </div>

  <!-- End search -->
  </form>

  </div>


<div class="col-md-12">

  <div class="table-responsive" style="margin-top: 30px;">

  <div *ngFor="let appaditem of appadList| paginate:{ itemsPerPage:10, currentPage:config.currentPage}">

  <div class="col-md-10">
  <div class="adcontainer" data-id="1222225119">
  <!-- <a href="javascript:;" class="fcbx_ajouterFavoris ajouterAuxFavoris ergov3-favoris " url="https://www.paruvendu.fr/auto-moto/popincommunfo/default/fcbx?boxtype=ajouteramaselection&amp;id_annonce=1222225119&amp;id_user=" onclick="xt_click(this,&#39;C&#39;,xtn2,&#39;Ajout-Selection-Detail&#39;,&#39;A&#39;);" title="Ajouter aux favoris">&nbsp;</a> -->
  <a [routerLink]=""  (click)="onSelect(appaditem)" class="list-group-item clearfix" title="4 & 1/2 Condo">
  <div class="adimage">
  <img src="../../../image/appad/{{appaditem.id}}/{{appaditem.id}}1.png" style="max-width:224px;max-height:150px;" alt="{{serverPath}}/image/appad/{{appaditem.id}}/{{appaditem.id}}1.png" title="4 & 1/2 appartement " onerror="this.src='../../../assets/image/no-image.jpg'">

  </div>
  <div class="adetails">
  <div class="flol" >
  <h3 style="padding:0 !important;">
  {{appaditem.adtitle}} :
  </h3>
  <p class="infoVers"><span [innerText]="getAppLabel(appaditem.room)"> </span> : {{appaditem.room}}  </p>
  <cite>
  {{appaditem.rentby}} - {{appaditem.adtype}} -
    {{appaditem.pet}}
  </cite>
  <h3 class="lo">
  Figeac
  (46100)
  </h3>
  </div>
  <div class="ergov3-priceannonce">
  {{appaditem.price}}   $
  </div>
  <div class="fin"></div>
  <cite class="texte">
  BMW 318i * (7 CV), Berline, Essence, Octobre/1998, 173 200 Km , 4 portes,...
  </cite>
  </div>
  <div class="fin"></div>

  </a>
  </div>
  </div>

  <div class="clear"></div>
  <hr>
   </div>
  <pagination-controls (pageChange)="pageChange($event)"
  previousLabel=""
                        nextLabel="">

  </pagination-controls>

  </div>



</div>

</div>
